/* MCrearCurso3.css */

/* Estilos para la página MCrearCurso3 */
.three-rows-view {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  
  
}

.row {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.photo-container {
  margin: 10px 0;
}

.photo {
  max-width: 100%;
  height: auto;
}

/* Estilos para el campo de carga de imagen */
input[type="file"] {
  display: none; /* Ocultar el campo de carga de archivo original */
}

/* Estilo personalizado para el botón de cargar imagen */
.custom-upload-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-top: 10px;
}

.custom-upload-button:hover {
  background-color: #0056b3;
}
