/* Estilo para toda la vista */
.formularios-view-container {
  display: flex;
}

.formularios-view-column {
  flex: 1;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 20px;
  background-color: #e4f1f5;
  color: rgb(0, 0, 0);
}

/* Estilo para los elementos select */
select {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 20px;
  background-color: #e4f1f5;
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin-top: 5px; /* Espacio entre elementos select */
}

/* Estilo para los botones */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}
