.navBar{
    background-color: #393D67;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}
.colorTexto{
    color: beige;
}
.SearchBar{
    display: flex;
    width: 60%;
}
.modalDiv{
    display: flex;
justify-content: center;

}
.sinFondo{
    background-color: transparent;
}
.footerDiv{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center !important;
}

.navbar-button-container{
  display: flex;
  gap: 10px;
  padding-left: 10px;
}
.usuario-navbar-foto{
  height: 70px;
  width: 70px;
  background-color: black;
}
.error{
  background-color: red;
  border: black;
  border-width: 2px;
}