.navBar{
    background-color: #393D67;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, .3);
    height: 5rem;
}
a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;

}
.colorTexto{
    color: beige;
}
.colorTexto :hover{
  color: beige;
}
.SearchBar{
    display: flex;
    width: 60%;
}
.modalDiv{
    display: flex;
justify-content: center;

}
.sinFondo{
    background-color: transparent;
}
.footerDiv{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center !important;
}

.navbar-button-container{
  display: flex;
  gap: 10px;
  padding-left: 10px;
}
.usuario-navbar-foto{
  height: 70px;
  width: 70px;
  background-color: black;
}
.usuario-navbar-Nombre{
color: white;
margin-top: 20px;
margin: 3px;
margin-top: 20px;
}
.usuario-navbar{
  border: 1px solid #000;
  border-color: white;
  border-radius: 5px;
  gap: 5px;
  margin-left: 70px;
  
}
.error{
  background-color: red;
  border: black;
  border-width: 2px;
}