.navBar{
    background-color: #393D67;
}
.colorTexto{
    color: beige;
}
.SearchBar{
    display: flex;
    width: 60%;
}
.modalDiv{
    display: flex;
justify-content: center;

}
.sinFondo{
    background-color: transparent;
}
.footerDiv{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center !important;
}