.LogoBanner{
  display: flex;
  justify-content: right;
 margin: 10px;
}
.Banner{
  background-color: #F5F6FC;

}
.LogoBannerFoto{
  width: 300px;
}
.LogoNavFoto{
  width: 70px;
  margin-right: 15px;
}
.BotonesBanner{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.CardsHome{
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}
