/* Estilos para la tarjeta de carrito */
h2 {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bolder;
}

.carrito-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px; /* Aumenta el ancho máximo para una mejor presentación */
  width: 90%;
  display: flex;
  flex-direction: column; /* Disposición en columna */
  align-items: center; /* Centra horizontalmente los elementos */
}

.carrito-container h2 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bolder;
}

/* Estilos para la tarjeta de curso en el carrito */
.curso-en-carrito {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  margin-bottom: 30px;
}

.imagen-curso {
  width: 175px;
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.info-curso {
  flex: 1;
}

.botones-carrito {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* Estilos para los botones dentro de la tarjeta */
.boton-pagos1,
.boton-pago1-confirm,
.boton-pagos-otro-curso {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #dfdede;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.boton-pagos1:hover,
.boton-pago1-confirm:hover,
.boton-pagos-otro-curso:hover {
  background-color: #5593f7;
    color: #fff;
}

.boton-pago1-confirm {
  font-size: 20px; /* Aumenta el tamaño del botón de confirmación */
}

.boton-pagos-otro-curso {
  font-size: 20px; /* Aumenta el tamaño del botón de agregar otro curso */
}

/* Estilos para la nueva tarjeta de precio total */
.total-container {
  display: flex;
  justify-content: center;
  margin-top: 30px; /* Espacio entre las tarjetas y la tarjeta de precio total */
}

.total-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;

}

.total-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.total-card p {
  font-size: 20px;
  margin-bottom: 20px;
}

.boton-pago1-confirm {
  font-size: 20px; /* Aumenta el tamaño del botón de confirmación */
  padding: 10px 30px; /* Aumenta el espacio alrededor del botón */
}

.boton-pago1-confirm:hover {
  background-color: #4287f5;
  color: #fff;
}
