.modal-content {
    background-color: #EBF0FF;
    color: rgb(0, 0, 0);
    width: 100%;
    margin-left: 20px;
    margin-top: 100px;
    margin-bottom: 5%;
}

.comprar1-container {
    height: 100px;

}

.modal-body {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
    color: black;
}


/* Estilos para el primer modal */
#modal1 .modal-content {
    background-color: #EBF0FF;
    color: rgb(0, 0, 0);
    width: 100%;
    margin-left: 20px;
    margin-top: 100px;
    margin-bottom: 5%;
}

/* Estilos para el segundo modal */
#modal2 .modal-content {
    background-color: #EBF0FF;
    color: rgb(0, 0, 0);
    width: 100%;
    margin-left: 20px;
    margin-top: 100px;
    margin-bottom: 5%;
}

/* Estilos compartidos para ambos modales */
.comprar1-container {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
    color: black;
}

.comprar1-container2 {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
    color: black;
}