.photo-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 20px;

  }
  
  .content {
    display: flex;
    align-items: flex-start;
  }
  
  .info-container {
    width: 400px;
    margin-right: 20px;
  }
  
  .photo-container {
    width: 500px;
    margin-top: 20px;
  }
  
  .photo {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  
  .summary-container {
    margin-top: 20px;
  }
  
  .summary-title {
    font-size: 24px;
    margin-bottom: 10px;
    
  }
  
  .summary-text {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .info-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .info-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .info-value {
    font-size: 16px;
  }
  
  .divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }
  
  .button-container {
    text-align: right;
    margin-top: 20px;
  }
  
  .next-button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  