/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para el formulario de tarjeta de crédito */
  .card-payment-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Centra horizontalmente el formulario */
    max-width: 400px; /* Limita el ancho del formulario */
  }
  
  .card-payment-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .card-payment-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Estilos para el pago con QR */
  .qr-payment {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Centra horizontalmente el bloque QR */
    max-width: 400px; /* Limita el ancho del bloque QR */
  }
  
  .qr-payment h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para los mensajes de error */
  .error-message {
    color: #ff0000;
    font-size: 16px;
    margin-top: 10px;
  }
  
  /* Estilos para la selección de método de pago */
  .payment-method-selection {
    text-align: center;
    margin: 20px;
    margin-top: 40px; /* Espacio adicional arriba del título */
  }
  
  .payment-method-selection h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px; /* Espacio adicional abajo del título */
  }
  
  /* Estilos para los botones de método de pago */
  .boton-pagos {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #dfdede;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-pagos:hover {
    background-color: #5593f7;
    color: #fff;
}
  
/* Estilos para el formulario de tarjeta de crédito */
.card-payment-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 500px; /* Ajusta el ancho del formulario */
    display: flex;
    flex-wrap: wrap; /* Permite el ajuste automático de los elementos */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
  }
  
  .card-payment-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .card-payment-form input {
    width: calc(100%); /* Ancho del 50% menos el espacio entre elementos */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Estilos para los mensajes de error */
  .error-message {
    color: #ff0000;
    font-size: 16px;
    margin-top: 10px;
  }
  