.fondoNegro{
  background-color: #2d2f31 !important;
  margin: 0 !important;
  border-radius: 0 !important;
}
.fotoStore{
  width: 100%;
  height: 50%;
}
.cardStore{
  width: 30rem;
  height: 55rem

}
.tituloStore{
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}
.cardBodyStore{
  display: flex 0;
  justify-content: center;
  align-items: center;
}
.precioCard{
  display: flex;
  justify-content: space-between;
}

.botonStore{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: auto;
  margin-bottom: 15px;  
}
.boxPreview{
  margin-top: 110px;
  border: 1px solid #2d2f31 ;
  padding: 25px;
}
.extras{
  display: flex;
  justify-content: space-around;
}